@import '~bootstrap/dist/css/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import "./colors";
@import "./header";
@import "./checkboxs";

#app {
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.principal-img {
  max-width: 200px;
}
.box-dex {
  background-color: #d8e5ea;
  border-radius: 2px;
}
.poke-sub {
  font-size: .9rem;
  color: gray;
}
.poke-res {
  color: orange;
  font-size: 2rem;
  line-height: 1;
}
